@page
@model SystemyWP.API.Pages.Account.Client
@{
    ViewData["Title"] = "Rejestracja";
    Layout = "_Layout";
}

<form method="post">
    <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl">
    <input type="hidden" asp-for="Form.Code" value="@Model.Form.Code">
    <input type="hidden" asp-for="Form.Email" value="@Model.Form.Email">
    <div class="field">
        <label>@Model.Form.Email</label>
    </div>
    <div class="flex-dialog">
        <label>Nazwa Użytkowinika</label>
        <input asp-for="Form.Username"/>
        <span class="val-text" asp-validation-for="Form.Username"></span>

        <label>Hasło</label>
        <input asp-for="Form.Password"/>
        <span class="val-text" asp-validation-for="Form.Password"></span>

        <label>Potwierdź Hasło</label>
        <input asp-for="Form.ConfirmPassword"/>
        <span class="val-text" asp-validation-for="Form.ConfirmPassword"></span>
    </div>
    <div class="form-group">
        <div class="checkbox p-2">
            Akceptuję <a href=@Model.PortalPrivacyUrl target="_blank">Politykę Prywatności</a> oraz <a href=@Model.PortalTermsOfServiceUrl target="_blank">Regulamin</a>
            <input asp-for="Form.RulesAccepted"/>
            <span class="val-text" asp-validation-for="Form.RulesAccepted"></span>
        </div>
        <div class="checkbox p-2">
            <label>
                Wyrażam zgodę na otrzymywanie faktur w formie elektronicznej
                <input asp-for="Form.InvoiceAccepted"/>
                <span class="val-text" asp-validation-for="Form.InvoiceAccepted"></span>
            </label>
        </div>
    </div>
    @if (Model.CustomErrors.Count > 0)
    {
        <div class="field">
            @foreach (var e in Model.CustomErrors)
            {
                <div class="error">@e</div>
            }
        </div>
    }
    <hr>
    <button type="submit">Zarejestruj</button>
</form>