@page
@model SystemyWP.API.Pages.Account.Client
@{
    ViewData["Title"] = "Rejestracja";
    Layout = "_Layout";
}

<form method="post">
    <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl">
    <input type="hidden" asp-for="Form.Code" value="@Model.Form.Code">
    <input type="hidden" asp-for="Form.Email" value="@Model.Form.Email">
        <h4>Systemy Wspomagania Pracy</h4>
       <h2>Rejestracja nowego użytkownika</h2>

    <div class="flex-dialog">
       <label>Email: @Model.Form.Email</label>
        <input asp-for="Form.Username" placeholder="Nazwa Użytkowika" />
        <span class="val-text" asp-validation-for="Form.Username"></span>
        <input asp-for="Form.Password" placeholder="Hasło"/>
        <span class="val-text" asp-validation-for="Form.Password"></span>
        <input asp-for="Form.ConfirmPassword" placeholder="Potwierdź Hasło"/>
        <span class="val-text" asp-validation-for="Form.ConfirmPassword"></span>
    </div>
    <div>
         <div class="reg"><input asp-for="Form.RulesAccepted"/>Akceptuję <a href=@Model.PortalPrivacyUrl target="_blank">Politykę Prywatności</a> oraz <a href=@Model.PortalTermsOfServiceUrl target="_blank">Regulamin</a></div>
          <div class="reg"><span class="val-text" asp-validation-for="Form.RulesAccepted"></span></div>
           <div class="reg"><input asp-for="Form.InvoiceAccepted"> Wyrażam zgodę na otrzymywanie faktur w formie elektronicznej</div>
           <div class="reg"><span class="val-text" asp-validation-for="Form.InvoiceAccepted"></span></div>
    </div>
    @if (Model.CustomErrors.Count > 0)
    {
        <div class="field">
            @foreach (var e in Model.CustomErrors)
            {
                <div class="error">@e</div>
            }
        </div>
    }
    <hr>
    <button class="button" type="submit">Zarejestruj</button>
</form>